header{
	width: 100%;
	height: 70px;
	padding: 0 230px;
	box-shadow: 3px 3px 3px #D4D1D1;
	position: sticky;
	top: 0;
	z-index: 5;
	background-color: white;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
}
header ul{
	height: 70px;
	width: 100%;
}
header li{
	width: 160px;
	height: 70px;
	float: left;
	border-left: 1px #EFEFEF solid;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	color: rgb(59, 59, 59);
}
header li:hover{
	background-color: #09AB6B;
	color: white;
	transition: 0.4s;
}
.logo-style{
	 cursor: pointer;
	 float: left;
	 margin-right: 30px;
}
.login{
	width: 160px;
	height: 30px;
	margin-left: 10px;
	float: right;
	margin-top: 20px;
}
.btn-login{
	width: 68px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	border: 1px solid #09AB6B;
	margin-right: 20px;
	cursor: pointer;
}
.btn-login:hover{
	background-color: #09AB6B;
	color: white;
	transition: 0.4s;
}
.btn-regist{
	background-color: #09AB6B; 
	color: white;
	width: 68px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.login-user{
	height: 70px;
	line-height: 70px;
	cursor: pointer;
	float: right;
	display: none;
}
.login-user img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align:middle;
}
.detail-box{
	width: 800px;
	margin: auto;
	border: 1px gainsboro solid;
	border-top-style: none;
	border-bottom-style: none;
	padding: 50px;
}
.detail-title{
	font-size: 30px;
	font-weight: 600;
}
.detail-content{
	font-size: 18px;
}
.detail-pre {
	overflow: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.publisher{
	padding: 20px 0;
	color: gray;
}
.publisher-name{
	display: inline;
	margin-right: 20px;
}
.publisher-time{
	display: inline;
}
