@charset "UTF-8";
/*rem自适应*/
html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Arial', 'sans-serif', 'Heiti SC', 'Helvetica', 'Roboto', 'Noto', 'Microsoft YaHei', '微软雅黑';
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

input {
  outline: none; }

.block {
  display: block; }

.none {
  display: none; }

.hidden {
  overflow: hidden; }

.hide {
  opacity: 0; }

.show {
  opacity: 1; }

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.text-overflow-omit, .text-overflow-1, .text-overflow-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.text-overflow-1 {
  -webkit-line-clamp: 1; }

.text-overflow-2 {
  -webkit-line-clamp: 2; }

.f-9 {
  font-size: 0.5625rem; }

.f-12 {
  font-size: 0.75rem; }

.f-13 {
  font-size: 0.8125rem; }

.f-14 {
  font-size: 0.875rem; }

.f-15 {
  font-size: 0.9375rem; }

.f-16 {
  font-size: 1rem; }

.f-17 {
  font-size: 1.0625rem; }

.f-18 {
  font-size: 1.125rem; }

.f-19 {
  font-size: 1.1875rem; }

.f-20 {
  font-size: 1.25rem; }

.f-21 {
  font-size: 1.3125rem; }

.f-22 {
  font-size: 1.375rem; }

.f-23 {
  font-size: 1.4375rem; }

.f-24 {
  font-size: 1.5rem; }

.f-25 {
  font-size: 1.5625rem; }

.f-c-333 {
  color: #333; }

.f-c-666 {
  color: #666; }

.f-c-888 {
  color: #888; }

.f-c-999 {
  color: #999; }

.f-c-green {
  color: #17bd1b; }

.f-c-red {
  color: #F43631; }

.f-c-yellow {
  color: #FF9000; }

.f-c-blue {
  color: #38A1DC; }

.f-c-orange {
  color: #F18C19; }

.f-c-fff {
  color: #fff; }

.f-c-aaa {
  color: #aaa; }

.f-c-e2 {
  color: #e2e2e2; }

.f-c-9d {
  color: #9d9d9d; }

.f-c-ccc {
    color: #cccccc;
}

.f-w-b {
  font-weight: bold; }

.f-w-bdr {
  font-weight: bolder; }

.f-w-100 {
  font-weight: 100; }

.f-w-200 {
  font-weight: 200; }

.f-w-300 {
  font-weight: 300; }

.f-w-400 {
  font-weight: 400; }

.f-w-500 {
  font-weight: 500; }

.f-w-600 {
  font-weight: 600; }

.f-w-700 {
  font-weight: 700; }

.f-w-800 {
  font-weight: 800; }

.text-c {
  text-align: center; }

.text-l {
  text-align: left; }

.text-r {
  text-align: right; }

.text-j {
  text-align: justify; }

.bg-c-333 {
  background-color: #333; }

.bg-c-666 {
  background-color: #666; }

.bg-c-888 {
  background-color: #888; }

.bg-c-999 {
  background-color: #999; }

.bg-c-green {
  background-color: #17bd1b; }

.bg-c-red {
  background-color: #F43631; }

.bg-c-yellow {
  background-color: #FF9000; }

.bg-c-blue {
  background-color: #38A1DC; }

.bg-c-orange {
  background-color: #F18C19; }

.bg-c-e2 {
  background-color: #e2e2e2; }

.bg-c-fff {
  background-color: #fff; }

.bg-c-aaa {
  background-color: #aaa; }

.bg-c-9d {
  background-color: #9d9d9d; }

p-a {
  position: absolute; }

.p-r {
  position: relative; }

.p-f {
  position: fixed; }

.p-trbl-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.p-t-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0); }

.p-b-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0); }

.b-top {
  border-top-style: solid;
  border-width: 1px; }

.b-right {
  border-right-style: solid;
  border-width: 1px; }

.b-left {
  border-left-style: solid;
  border-width: 1px; }

.b-bottom {
  border-bottom-style: solid;
  border-width: 1px; }

.b-trbl {
  border-style: solid;
  border-width: 1px; }

.bor-c-333 {
  border-color: #333; }

.bor-c-666 {
  border-color: #666; }

.bor-c-888 {
  border-color: #888; }

.bor-c-999 {
  border-color: #999; }

.bor-c-green {
  border-color: #17bd1b; }

.bor-c-red {
  border-color: #F43631; }

.bor-c-yellow {
  border-color: #FF9000; }

.bor-c-blue {
  border-color: #38A1DC; }

.bor-c-orange {
  border-color: #F18C19; }

.bor-c-e2 {
  border-color: #e2e2e2; }

.bor-c-fff {
  border-color: #fff; }

.bor-c-aaa {
  border-color: #aaa; }

.bor-c-9d {
  border-color: #9d9d9d; }

.bor-ra-0-2 {
  border-radius: 0.2rem; }

.bor-ra-0-4 {
  border-radius: 0.4rem; }

.bor-ra-1 {
  border-radius: 1rem; }

.bor-ra-tb-l-0-2 {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem; }

.bor-ra-tb-r-0-2 {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem; }

.w-0-65 {
  width: 0.65rem; }

.w-0-75 {
  width: 0.75rem; }

.w-1 {
  width: 1rem; }

.w-2 {
  width: 2rem; }

.w-2-5 {
  width: 2.5rem; }

.w-2-6 {
  width: 2.6rem; }

.w-3 {
  width: 3rem; }

.w-4 {
  width: 4rem; }

.w-4-625 {
  width: 4.625rem; }

.w-5 {
  width: 5rem; }

.w-5-5 {
  width: 5.5rem; }

.w-6 {
  width: 6rem; }

.w-6-2 {
  width: 6.2rem; }

.w-6-3 {
  width: 6.3rem; }

.w-7-7 {
  width: 7.7rem; }

.w-8 {
  width: 8rem; }

.w-8-7 {
  width: 8.7rem; }

.w-9 {
  width: 9rem; }

.w-10 {
  width: 10rem; }

.w-11 {
  width: 11rem; }

.w-12 {
  width: 12rem; }

.w-13 {
  width: 13rem; }

.w-13-5 {
  width: 13.5rem; }

.w-13-8 {
  width: 13.8rem; }

.w-14 {
  width: 14rem; }

.w-14-5 {
  width: 14.5rem; }

.w-15 {
  width: 15rem; }

.w-15-5 {
  width: 15.5rem; }

.w-16 {
  width: 16rem; }

.w-17 {
  width: 17rem; }

.w-18-1 {
  width: 18.1rem; }

.w-18-75 {
  width: 18.75rem; }

.w-20 {
  width: 20rem; }

.w-33 {
    width: 33rem;
}

.w-40 {
  width: 40rem; }

.h-0-4 {
  height: 0.4rem; }

.h-0-5 {
  height: 0.5rem; }

.h-1 {
  height: 1rem; }

.h-1-2 {
  height: 1.2rem; }

.h-1-3 {
  height: 1.3rem; }

.h-1-5 {
  height: 1.5rem; }

.h-1-875 {
  height: 1.875rem; }

.h-0-4 {
  height: 0.4rem; }

.h-2 {
  height: 2rem; }

.h-2-125 {
  height: 2.125rem; }

.h-2-2 {
  height: 2.2rem; }

.h-2-25 {
  height: 2.25rem; }

.h-2-4 {
  height: 2.4rem; }

.h-2-6 {
  height: 2.6rem; }

.h-2-625 {
  height: 2.625rem; }

.h-2-75 {
  height: 2.75rem; }

.h-3-1 {
  height: 3.1rem; }

.h-3-2 {
  height: 3.2rem; }

.h-3-4 {
  height: 3.4rem; }

.h-4 {
  height: 4rem; }

.h-4-5 {
  height: 4.5rem; }

.h-5 {
  height: 5rem; }

.h-5-5 {
  height: 5.5rem; }

.h-6 {
  height: 6rem; }

.h-6-5625 {
  height: 6.5625rem; }

.h-7 {
  height: 7rem; }

.h-8 {
  height: 8rem; }

.h-9 {
  height: 9rem; }

.h-10 {
  height: 10rem; }

.h-11 {
  height: 11rem; }

.h-12 {
  height: 12rem; }

.h-14 {
  height: 14rem; }

.h-16-25 {
  height: 16.25rem; }

.h-18 {
  height: 18rem; }

.h-20 {
  height: 20rem; }

.h-25 {
  height: 25rem; }

.l-h-1 {
  line-height: 1rem; }

.l-h-1-1 {
  line-height: 1.1rem; }

.l-h-1-2 {
  line-height: 1.2rem; }

.l-h-1-3 {
  line-height: 1.3rem; }

.l-h-1-5 {
  line-height: 1.5rem; }

.l-h-1-875 {
  line-height: 1.875rem; }

.l-h-2 {
  line-height: 2rem; }

.l-h-2-125 {
  line-height: 2.125rem; }

.l-h-2-2 {
  line-height: 2.2rem; }

.l-h-2-25 {
  line-height: 2.25rem; }

.l-h-2-4 {
  line-height: 2.4rem; }

.l-h-2-6 {
  line-height: 2.6rem; }

.l-h-2-75 {
  line-height: 2.75rem; }

.l-h-3 {
  line-height: 3rem; }

.l-h-3-2 {
  line-height: 3.2rem; }

.l-h-4 {
  line-height: 4rem; }

.l-h-5 {
  line-height: 5rem; }

.l-h-6-5625 {
  line-height: 6.5625rem; }

.pad-0 {
  padding: 0; }

.pad-0-625 {
  padding: 0.625rem; }

.pad-b-0-3 {
  padding-bottom: 0.3rem; }

.pad-r-1 {
  padding-right: 1rem; }

.pad-r-1-4 {
  padding-right: 1.4rem; }

.pad-t-0-3 {
  padding-top: 0.3rem; }

.pad-t-0-7 {
  padding-top: 0.7rem; }

.pad-t-1 {
  padding-top: 1rem; }

.pad-b-0-3 {
  padding-bottom: 0.3rem; }

.pad-r-1 {
  padding-right: 1rem; }

.pad-r-1-4 {
  padding-right: 1.4rem; }

.pad-b-0-3 {
  padding-bottom: 0.3rem; }

.pad-b-0-6 {
  padding-bottom: 0.6rem; }

.pad-b-0-7 {
  padding-bottom: 0.7rem; }

.pad-b-0-9 {
  padding-bottom: 0.9rem; }

.pad-b-2 {
  padding-bottom: 2rem; }

.pad-l-0-3 {
  padding-left: 0.3rem; }

.pad-l-0-6 {
  padding-left: 0.6rem; }

.pad-l-1 {
  padding-left: 1rem; }

.mar-0 {
  margin: 0; }

.mar-auto {
  margin: auto; }

.mar-t-0-4 {
  margin-top: 0.4rem; }

.mar-t-0-7 {
  margin-top: 0.7rem; }

.mar-t-0-8 {
  margin-top: 0.8rem; }

.mar-t-1 {
  margin-top: 1rem; }

.mar-t-1-5 {
  margin-top: 1.5rem; }

.mar-t-3 {
  margin-top: 3rem; }

.mar-r-0-4 {
  margin-right: 0.4rem; }

.mar-b-0-3 {
  margin-bottom: 0.3rem; }

.mar-b-0-5 {
  margin-bottom: 0.5rem; }

.mar-b-0-7 {
  margin-bottom: 0.7rem; }

.mar-l-0-2 {
  margin-left: 0.2rem; }

.mar-l-0-4 {
  margin-left: 0.4rem; }

.mar-l-0-7 {
  margin-left: 0.7rem; }

.flo-l {
  float: left; }

.flo-r {
  float: right; }

.flo-c {
  clear: both; }

.alert {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100000000; }

.alertcontent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15.6rem;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 0.4rem;
  z-index: 1000;
  overflow: hidden; }

.alertimg {
  position: relative;
  height: 5rem;
  margin: 1.25rem 0; }

.alertimg > img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.alerttitle {
  position: relative;
  text-align: center;
  font-size: 0.875rem;
  color: #17bd1b;
  line-height: 1.8rem; }

.alertwords {
  position: relative;
  text-align: center;
  font-size: 0.75rem;
  color: #666666; }

.alertconfirm {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #17bd1b;
  font-size: 0.875rem;
  border-top: 1px solid #e2e2e2; }

.leftalert {
  float: left;
  height: 2.5rem;
  width: 7.8rem;
  line-height: 2.5rem;
  text-align: center;
  color: #17bd1b;
  font-size: 0.875rem;
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2; }

.rightalert {
  float: left;
  height: 2.5rem;
  width: 7.8rem;
  line-height: 2.5rem;
  text-align: center;
  color: #17bd1b;
  font-size: 0.875rem;
  border-top: 1px solid #e2e2e2; }
.selfCenter {
    margin-right: auto;
    margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
