<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.yingjia.mapper.TypeFlavorMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.yingjia.po.TypeFlavor" >
    <id column="flavor_id" property="flavorId" jdbcType="INTEGER" />
    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="flavor_name" property="flavorName" jdbcType="VARCHAR" />
    <result column="flavor_type" property="flavorType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    flavor_id, menu_id, flavor_name, flavor_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.yingjia.po.TypeFlavorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from type_flavor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from type_flavor
    where flavor_id = #{flavorId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from type_flavor
    where flavor_id = #{flavorId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.yingjia.po.TypeFlavorExample" >
    delete from type_flavor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.yingjia.po.TypeFlavor" >
    insert into type_flavor (flavor_id, menu_id, flavor_name, 
      flavor_type)
    values (#{flavorId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{flavorName,jdbcType=VARCHAR}, 
      #{flavorType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.yingjia.po.TypeFlavor" >
    insert into type_flavor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="flavorId != null" >
        flavor_id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="flavorName != null" >
        flavor_name,
      </if>
      <if test="flavorType != null" >
        flavor_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="flavorId != null" >
        #{flavorId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="flavorName != null" >
        #{flavorName,jdbcType=VARCHAR},
      </if>
      <if test="flavorType != null" >
        #{flavorType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.yingjia.po.TypeFlavorExample" resultType="java.lang.Integer" >
    select count(*) from type_flavor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update type_flavor
    <set >
      <if test="record.flavorId != null" >
        flavor_id = #{record.flavorId,jdbcType=INTEGER},
      </if>
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.flavorName != null" >
        flavor_name = #{record.flavorName,jdbcType=VARCHAR},
      </if>
      <if test="record.flavorType != null" >
        flavor_type = #{record.flavorType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update type_flavor
    set flavor_id = #{record.flavorId,jdbcType=INTEGER},
      menu_id = #{record.menuId,jdbcType=INTEGER},
      flavor_name = #{record.flavorName,jdbcType=VARCHAR},
      flavor_type = #{record.flavorType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.yingjia.po.TypeFlavor" >
    update type_flavor
    <set >
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="flavorName != null" >
        flavor_name = #{flavorName,jdbcType=VARCHAR},
      </if>
      <if test="flavorType != null" >
        flavor_type = #{flavorType,jdbcType=INTEGER},
      </if>
    </set>
    where flavor_id = #{flavorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.yingjia.po.TypeFlavor" >
    update type_flavor
    set menu_id = #{menuId,jdbcType=INTEGER},
      flavor_name = #{flavorName,jdbcType=VARCHAR},
      flavor_type = #{flavorType,jdbcType=INTEGER}
    where flavor_id = #{flavorId,jdbcType=INTEGER}
  </update>
</mapper>