<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.yingjia.mapper.TypeAgeMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.yingjia.po.TypeAge" >
    <id column="age_id" property="ageId" jdbcType="INTEGER" />
    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="age_name" property="ageName" jdbcType="VARCHAR" />
    <result column="age_type" property="ageType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    age_id, menu_id, age_name, age_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.yingjia.po.TypeAgeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from type_age
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from type_age
    where age_id = #{ageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from type_age
    where age_id = #{ageId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.yingjia.po.TypeAgeExample" >
    delete from type_age
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.yingjia.po.TypeAge" >
    insert into type_age (age_id, menu_id, age_name, 
      age_type)
    values (#{ageId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{ageName,jdbcType=VARCHAR}, 
      #{ageType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.yingjia.po.TypeAge" >
    insert into type_age
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ageId != null" >
        age_id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="ageName != null" >
        age_name,
      </if>
      <if test="ageType != null" >
        age_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ageId != null" >
        #{ageId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="ageName != null" >
        #{ageName,jdbcType=VARCHAR},
      </if>
      <if test="ageType != null" >
        #{ageType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.yingjia.po.TypeAgeExample" resultType="java.lang.Integer" >
    select count(*) from type_age
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update type_age
    <set >
      <if test="record.ageId != null" >
        age_id = #{record.ageId,jdbcType=INTEGER},
      </if>
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.ageName != null" >
        age_name = #{record.ageName,jdbcType=VARCHAR},
      </if>
      <if test="record.ageType != null" >
        age_type = #{record.ageType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update type_age
    set age_id = #{record.ageId,jdbcType=INTEGER},
      menu_id = #{record.menuId,jdbcType=INTEGER},
      age_name = #{record.ageName,jdbcType=VARCHAR},
      age_type = #{record.ageType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.yingjia.po.TypeAge" >
    update type_age
    <set >
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="ageName != null" >
        age_name = #{ageName,jdbcType=VARCHAR},
      </if>
      <if test="ageType != null" >
        age_type = #{ageType,jdbcType=INTEGER},
      </if>
    </set>
    where age_id = #{ageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.yingjia.po.TypeAge" >
    update type_age
    set menu_id = #{menuId,jdbcType=INTEGER},
      age_name = #{ageName,jdbcType=VARCHAR},
      age_type = #{ageType,jdbcType=INTEGER}
    where age_id = #{ageId,jdbcType=INTEGER}
  </update>
</mapper>