<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.yingjia.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.yingjia.po.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_number" property="userNumber" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_height" property="userHeight" jdbcType="INTEGER" />
    <result column="user_weight" property="userWeight" jdbcType="INTEGER" />
    <result column="user_birth" property="userBirth" jdbcType="TIMESTAMP" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="hometown" property="hometown" jdbcType="VARCHAR" />
    <result column="user_pic" property="userPic" jdbcType="VARCHAR" />
    <result column="user_time" property="userTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_nickname, user_phone, user_password, user_number, user_name, user_height, 
    user_weight, user_birth, sex, hometown, user_pic, user_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.yingjia.po.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.yingjia.po.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.yingjia.po.User" >
    insert into user (user_id, user_nickname, user_phone, 
      user_password, user_number, user_name, 
      user_height, user_weight, user_birth, 
      sex, hometown, user_pic, 
      user_time)
    values (#{userId,jdbcType=INTEGER}, #{userNickname,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userNumber,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{userHeight,jdbcType=INTEGER}, #{userWeight,jdbcType=INTEGER}, #{userBirth,jdbcType=TIMESTAMP}, 
      #{sex,jdbcType=INTEGER}, #{hometown,jdbcType=VARCHAR}, #{userPic,jdbcType=VARCHAR}, 
      #{userTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.yingjia.po.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userNumber != null" >
        user_number,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userHeight != null" >
        user_height,
      </if>
      <if test="userWeight != null" >
        user_weight,
      </if>
      <if test="userBirth != null" >
        user_birth,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="hometown != null" >
        hometown,
      </if>
      <if test="userPic != null" >
        user_pic,
      </if>
      <if test="userTime != null" >
        user_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userHeight != null" >
        #{userHeight,jdbcType=INTEGER},
      </if>
      <if test="userWeight != null" >
        #{userWeight,jdbcType=INTEGER},
      </if>
      <if test="userBirth != null" >
        #{userBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="hometown != null" >
        #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null" >
        #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="userTime != null" >
        #{userTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.yingjia.po.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userNickname != null" >
        user_nickname = #{record.userNickname,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null" >
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        user_password = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userNumber != null" >
        user_number = #{record.userNumber,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userHeight != null" >
        user_height = #{record.userHeight,jdbcType=INTEGER},
      </if>
      <if test="record.userWeight != null" >
        user_weight = #{record.userWeight,jdbcType=INTEGER},
      </if>
      <if test="record.userBirth != null" >
        user_birth = #{record.userBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.hometown != null" >
        hometown = #{record.hometown,jdbcType=VARCHAR},
      </if>
      <if test="record.userPic != null" >
        user_pic = #{record.userPic,jdbcType=VARCHAR},
      </if>
      <if test="record.userTime != null" >
        user_time = #{record.userTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set user_id = #{record.userId,jdbcType=INTEGER},
      user_nickname = #{record.userNickname,jdbcType=VARCHAR},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      user_password = #{record.userPassword,jdbcType=VARCHAR},
      user_number = #{record.userNumber,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_height = #{record.userHeight,jdbcType=INTEGER},
      user_weight = #{record.userWeight,jdbcType=INTEGER},
      user_birth = #{record.userBirth,jdbcType=TIMESTAMP},
      sex = #{record.sex,jdbcType=INTEGER},
      hometown = #{record.hometown,jdbcType=VARCHAR},
      user_pic = #{record.userPic,jdbcType=VARCHAR},
      user_time = #{record.userTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.yingjia.po.User" >
    update user
    <set >
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        user_number = #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userHeight != null" >
        user_height = #{userHeight,jdbcType=INTEGER},
      </if>
      <if test="userWeight != null" >
        user_weight = #{userWeight,jdbcType=INTEGER},
      </if>
      <if test="userBirth != null" >
        user_birth = #{userBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="hometown != null" >
        hometown = #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null" >
        user_pic = #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="userTime != null" >
        user_time = #{userTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.yingjia.po.User" >
    update user
    set user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_number = #{userNumber,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_height = #{userHeight,jdbcType=INTEGER},
      user_weight = #{userWeight,jdbcType=INTEGER},
      user_birth = #{userBirth,jdbcType=TIMESTAMP},
      sex = #{sex,jdbcType=INTEGER},
      hometown = #{hometown,jdbcType=VARCHAR},
      user_pic = #{userPic,jdbcType=VARCHAR},
      user_time = #{userTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>